<div class="card">
    <div class="card-body">

        <!-- Header -->
        <div class="mb-3">
            <div class="row align-items-center">
                <div class="col-auto">

                    <!-- Avatar -->
                    <a href="#!" class="avatar">
                        <img src="{{ asset('build/images/avatars/profiles/avatar-1.jpg') }}" alt="..." class="avatar-img rounded-circle">
                    </a>

                </div>
                <div class="col ml-n2">

                    <!-- Title -->
                    <h4 class="mb-1">
                        {{ post.user.fullName }}
                    </h4>

                    <!-- Time -->
                    <p class="card-text small text-muted">
                        <span class="fe fe-clock"></span> <time datetime="2018-05-24">{{ post.time|date("d/m/Y") }}</time>
                    </p>

                </div>
                <div class="col-auto">

                    <!-- Dropdown -->
                    <div class="dropdown">

                        <!-- Toggle -->
                        <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fe fe-more-vertical"></i>
                        </a>

                        <!-- Menu -->
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="#!" class="dropdown-item">
                                Action
                            </a>
                            <a href="#!" class="dropdown-item">
                                Another action
                            </a>
                            <a href="#!" class="dropdown-item">
                                Something else here
                            </a>
                        </div>

                    </div>

                </div>
            </div> <!-- / .row -->
        </div>

        {% if app.request.attributes.get('_route') == 'post_show' %}
            <div id="postContentEditable"{% if form.vars.valid %} style="display: none"{% endif %}>{% include('app/post/includes/form.html.twig') %}</div>
        {% endif %}

        <!-- Text -->
        <p class="mb-3" id="postContentNonEditable"{% if not form.vars.valid %} style="display: none"{% endif %}>
            {% if app.request.attributes.get('_route') == 'post_index' %}
                <a href="{{ path('post_show', {'id': post.id}) }}">{{ post.text }}</a>
            {% else %}
                {{ post.text }}
            {% endif %}
        </p>

        <!-- Buttons -->
        <div class="mb-3">
            <div class="row">
                <div class="col">

                    <!-- Reaction -->
                    <a href="#!" class="btn btn-sm btn-white">
                        😬 1
                    </a>
                    <a href="#!" class="btn btn-sm btn-white">
                        👍 2
                    </a>
                    <a href="#!" class="btn btn-sm btn-white">
                        Add Reaction
                    </a>

                </div>
                <div class="col-auto mr-n3">

                    <!-- Avatar group -->
                    <div class="avatar-group d-none d-sm-flex">
                        <a href="profile-posts.html" class="avatar avatar-xs" data-toggle="tooltip" title="Ab Hadley">
                            <img src="{{ asset('build/images/avatars/profiles/avatar-2.jpg') }}" alt="..." class="avatar-img rounded-circle">
                        </a>
                        <a href="profile-posts.html" class="avatar avatar-xs" data-toggle="tooltip" title="Adolfo Hess">
                            <img src="{{ asset('build/images/avatars/profiles/avatar-3.jpg') }}" alt="..." class="avatar-img rounded-circle">
                        </a>
                        <a href="profile-posts.html" class="avatar avatar-xs" data-toggle="tooltip" title="Daniela Dewitt">
                            <img src="{{ asset('build/images/avatars/profiles/avatar-4.jpg') }}" alt="..." class="avatar-img rounded-circle">
                        </a>
                        <a href="profile-posts.html" class="avatar avatar-xs" data-toggle="tooltip" title="Miyah Myles">
                            <img src="{{ asset('build/images/avatars/profiles/avatar-5.jpg') }}" alt="..." class="avatar-img rounded-circle">
                        </a>
                    </div>

                </div>
                <div class="col-auto">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <a href="#" class="btn btn-sm btn-white">
                            Share
                        </a>
                        {% if app.request.attributes.get('_route') == 'post_show' %}
                            {% if is_granted('edit', post) %}
                                <a href="#" class="btn btn-sm btn-white" onClick="toggleEditPost()" id="editPost">
                                    Edit
                                </a>
                            {% endif %}
                            {% if is_granted('delete', post) %}
                                <a href="{{ path('post_delete', {'id': post.id}) }}" class="btn btn-sm btn-outline-danger" id="editPost">
                                    Delete
                                </a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        <hr>
        <div class="comment mb-3">
            <div class="row">
                <div class="col-auto">

                    <!-- Avatar -->
                    <a class="avatar avatar-sm" href="profile-posts.html">
                        <img src="{{ asset('build/images/avatars/profiles/avatar-2.jpg') }}" alt="..." class="avatar-img rounded-circle">
                    </a>

                </div>
                <div class="col ml-n2">

                    <!-- Body -->
                    <div class="comment-body">

                        <div class="row">
                            <div class="col">

                                <!-- Title -->
                                <h5 class="comment-title">
                                    Ab Hadley
                                </h5>

                            </div>
                            <div class="col-auto">

                                <!-- Time -->
                                <time class="comment-time">
                                    11:12
                                </time>

                            </div>
                        </div> <!-- / .row -->

                        <!-- Text -->
                        <p class="comment-text">
                            Looking good Dianna! I like the image grid on the left, but it feels like a lot to process and doesn't really <em>show</em> me what the product does? I think using a short looping video or something similar demo'ing the product might be better?
                        </p>

                    </div>

                </div>
            </div> <!-- / .row -->
        </div>

        <div class="comment mb-3">
            <div class="row">
                <div class="col-auto">

                    <!-- Avatar -->
                    <a class="avatar avatar-sm" href="profile-posts.html">
                        <img src="{{ asset('build/images/avatars/profiles/avatar-3.jpg') }}" alt="..." class="avatar-img rounded-circle">
                    </a>

                </div>
                <div class="col ml-n2">

                    <!-- Body -->
                    <div class="comment-body">

                        <div class="row">
                            <div class="col">

                                <!-- Title -->
                                <h5 class="comment-title">
                                    Adolfo Hess
                                </h5>

                            </div>
                            <div class="col-auto">

                                <!-- Time -->
                                <time class="comment-time">
                                    11:12
                                </time>

                            </div>
                        </div> <!-- / .row -->

                        <!-- Text -->
                        <p class="comment-text">
                            Any chance you're going to link the grid up to a public gallery of sites built with Launchday?
                        </p>

                    </div>

                </div>
            </div> <!-- / .row -->
        </div>

        <!-- Divider -->
        <hr>

        <!-- Form -->
        <div class="row">
            <div class="col-auto">

                <!-- Avatar -->
                <div class="avatar avatar-sm">
                    <img src="{{ asset('build/images/avatars/profiles/avatar-1.jpg') }}" alt="..." class="avatar-img rounded-circle">
                </div>

            </div>
            <div class="col ml-n2">

                <!-- Form -->
                <form class="mt-1">
                    <label class="sr-only">Leave a comment...</label>
                    <textarea class="form-control form-control-flush" data-toggle="autosize" rows="1" placeholder="Leave a comment"></textarea>
                </form>

            </div>
            <div class="col-auto align-self-end">

                <!-- Icons -->
                <div class="text-muted mb-2">
                    <a class="text-reset mr-3" href="#!" data-toggle="tooltip" title="Add photo">
                        <i class="fe fe-camera"></i>
                    </a>
                    <a class="text-reset mr-3" href="#!" data-toggle="tooltip" title="Attach file">
                        <i class="fe fe-paperclip"></i>
                    </a>
                    <a class="text-reset" href="#!" data-toggle="tooltip" title="Record audio">
                        <i class="fe fe-mic"></i>
                    </a>
                </div>

            </div>
        </div> <!-- / .row -->

    </div>
</div>