<div class="col-12 col-md-6 col-xl-4">
    <div class="card">
        <img src="{{ asset('build/images/covers/profile-cover-2.jpg') }}" alt="..." class="card-img-top">
        <div class="card-body text-center">
            <a href="profile-posts.html" class="avatar avatar-xl card-avatar card-avatar-top">
                <img src="{{ asset('build/images/avatars/profiles/avatar-2.jpg') }}" class="avatar-img rounded-circle border border-4 border-card" alt="...">
            </a>
            <h2 class="card-title">
                <a href="{{ path('profile_index', {'username': user.username}) }}">@{{ user.username }}</a>
            </h2>
            <p class="small text-muted mb-3">
                Woprking on the latest API integration.
            </p>
            <p class="card-text">
                <span class="badge badge-soft-secondary">
                    UX Team
                </span>
                <span class="badge badge-soft-secondary">
                    Research Team
                </span>
            </p>
        </div>
        <div class="card-footer card-footer-boxed">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto">
                    <p class="card-text small text-muted">
                        Last active: <span class="fe fe-clock"></span> <time datetime="2018-05-24">04/07/2020</time>
                    </p>
                </div>
                <div class="col-auto">
                    {% if user.followers.contains(app.user) == false %}
                        <a href="#" data-user-id="{{ user.id }}" class="btn btn-sm btn-primary user-follow-link">
                            Follow
                        </a>
                    {% else %}
                        <a href="#" data-user-id="{{ user.id }}"  class="btn btn-sm btn-danger user-unfollow-link">
                            Unfollow
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>