<div class="col-12 col-xl-4">

    <!-- Card -->
    <div class="card">
        <div class="card-header">

            <!-- Title -->
            <h4 class="card-header-title">
                Who to follow
            </h4>

            <!-- Link -->
            <a class="small" href="#!">
                View all
            </a>

        </div>
        <div class="card-body">

            <!-- List group -->
            <div class="list-group list-group-flush my-n3">
                <div class="list-group-item">
                    <div class="row align-items-center">
                        <div class="col-auto">

                            <!-- Avatar -->
                            <a href="profile-posts.html" class="avatar">
                                <img src="{{ asset('build/images/avatars/profiles/avatar-1.jpg') }}" alt="..." class="avatar-img rounded-circle">
                            </a>

                        </div>
                        <div class="col ml-n2">

                            <!-- Title -->
                            <h4 class="mb-1">
                                <a href="profile-posts.html">Dianna Smiley</a>
                            </h4>

                            <!-- Status -->
                            <p class="card-text small">
                                <span class="text-success">●</span> Online
                            </p>

                        </div>
                        <div class="col-auto">

                            <!-- Button -->
                            <a href="#!" class="btn btn-sm btn-white">
                                Follow
                            </a>

                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row align-items-center">
                        <div class="col-auto">

                            <!-- Avatar -->
                            <a href="profile-posts.html" class="avatar">
                                <img src="{{ asset('build/images/avatars/profiles/avatar-2.jpg') }}" alt="..." class="avatar-img rounded-circle">
                            </a>

                        </div>
                        <div class="col ml-n2">

                            <!-- Title -->
                            <h4 class="mb-1">
                                <a href="profile-posts.html">Ab Hadley</a>
                            </h4>

                            <!-- Status -->
                            <p class="card-text small">
                                <span class="text-success">●</span> Online
                            </p>

                        </div>
                        <div class="col-auto">

                            <!-- Button -->
                            <a href="#!" class="btn btn-sm btn-white">
                                Follow
                            </a>

                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row align-items-center">
                        <div class="col-auto">

                            <!-- Avatar -->
                            <a href="profile-posts.html" class="avatar">
                                <img src="{{ asset('build/images/avatars/profiles/avatar-3.jpg') }}" alt="..." class="avatar-img rounded-circle">
                            </a>

                        </div>
                        <div class="col ml-n2">

                            <!-- Title -->
                            <h4 class="mb-1">
                                <a href="profile-posts.html">Adolfo Hess</a>
                            </h4>

                            <!-- Status -->
                            <p class="card-text small">
                                <span class="text-success">●</span> Online
                            </p>

                        </div>
                        <div class="col-auto">

                            <!-- Button -->
                            <a href="#!" class="btn btn-sm btn-white">
                                Follow
                            </a>

                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row align-items-center">
                        <div class="col-auto">

                            <!-- Avatar -->
                            <a href="profile-posts.html" class="avatar">
                                <img src="{{ asset('build/images/avatars/profiles/avatar-4.jpg') }}" alt="..." class="avatar-img rounded-circle">
                            </a>

                        </div>
                        <div class="col ml-n2">

                            <!-- Title -->
                            <h4 class="mb-1">
                                <a href="profile-posts.html">Daniela Dewitt</a>
                            </h4>

                            <!-- Status -->
                            <p class="card-text small">
                                <span class="text-warning">●</span> Busy
                            </p>

                        </div>
                        <div class="col-auto">

                            <!-- Button -->
                            <a href="#!" class="btn btn-sm btn-white">
                                Follow
                            </a>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Card -->
    <div class="card">
        <div class="card-header">

            <!-- Title -->
            <h4 class="card-header-title">
                Trending Topics
            </h4>

            <!-- Link -->
            <a class="small" href="#!">
                View all
            </a>

        </div>
        <div class="card-body">

            <!-- List group -->
            <div class="list-group list-group-flush my-n3">
                <div class="list-group-item">
                    <div class="row align-items-center">
                        <div class="col">

                            <!-- Title -->
                            <h4 class="mb-1">
                                <a href="#!">Landkit Update</a>
                            </h4>

                            <!-- Subtitle -->
                            <small class="text-muted">
                                2.45k posts
                            </small>

                        </div>
                        <div class="col-auto">

                            <!-- Chart -->
                            <div class="chart chart-sparkline">
                                <canvas class="chart-canvas" id="sparklineChartSocialOne"></canvas>
                            </div>

                        </div>
                    </div> <!-- / .row -->
                </div>
                <div class="list-group-item">
                    <div class="row align-items-center">
                        <div class="col">

                            <!-- Title -->
                            <h4 class="mb-1">
                                <a href="#!">Stripe API</a>
                            </h4>

                            <!-- Subtitle -->
                            <small class="text-muted">
                                1.1k posts
                            </small>

                        </div>
                        <div class="col-auto">

                            <!-- Chart -->
                            <div class="chart chart-sparkline">
                                <canvas class="chart-canvas" id="sparklineChartSocialTwo"></canvas>
                            </div>

                        </div>
                    </div> <!-- / .row -->
                </div>
                <div class="list-group-item">
                    <div class="row align-items-center">
                        <div class="col">

                            <!-- Title -->
                            <h4 class="mb-1">
                                <a href="#!">Oki Doki</a>
                            </h4>

                            <!-- Subtitle -->
                            <small class="text-muted">
                                9.2k posts
                            </small>

                        </div>
                        <div class="col-auto">

                            <!-- Chart -->
                            <div class="chart chart-sparkline">
                                <canvas class="chart-canvas" id="sparklineChartSocialThree"></canvas>
                            </div>

                        </div>
                    </div> <!-- / .row -->
                </div>
                <div class="list-group-item">
                    <div class="row align-items-center">
                        <div class="col">

                            <!-- Title -->
                            <h4 class="mb-1">
                                <a href="#!">Bootstrap</a>
                            </h4>

                            <!-- Subtitle -->
                            <small class="text-muted">
                                6.87k posts
                            </small>

                        </div>
                        <div class="col-auto">

                            <!-- Chart -->
                            <div class="chart chart-sparkline">
                                <canvas class="chart-canvas" id="sparklineChartSocialFour"></canvas>
                            </div>

                        </div>
                    </div> <!-- / .row -->
                </div>
            </div>

        </div>
    </div>

    <!-- Card -->
    <div class="card">

        <!-- Image  -->
        <a class="" href="https://themes.getbootstrap.com/preview/?theme_id=23273">
            <img class="card-img-top" src="{{ asset('build/images/kanban/kanban-2.jpg') }}" alt="...">
        </a>

        <!-- Body -->
        <div class="card-body">
            <div class="row align-items-center">
                <div class="col">

                    <!-- Title -->
                    <h4 class="mb-1">
                        Get Landkit theme!
                    </h4>

                    <!-- Badge -->
                    <span class="badge badge-soft-success">
                      Ad
                    </span>

                    <!-- Price -->
                    <small class="text-muted">
                        $49.99
                    </small>

                </div>
                <div class="col-auto">

                    <!-- Button -->
                    <a class="btn btn-sm btn-white" href="https://themes.getbootstrap.com/preview/?theme_id=23273">
                        Buy now
                    </a>

                </div>
            </div> <!-- / .row -->
        </div>

    </div>

</div>